* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);

}

.container {
    width: 400px;
    height: auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: whitesmoke;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.container__heading h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    border-bottom: 3px solid grey;
    margin-bottom: 10px;
}

.display__box {
    width: 100%;
    height: 45px;
    position: relative;
    overflow-x: visible;
    margin-bottom: 10px;
}

.display__box input {
    width: inherit;
    height: inherit;
    font-size: inherit;
    
}

.display__box .copy__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translatey(-50%);
    color: blue;
    font-size: 1.5rem;
    font-weight: 800;

}

.password__strength {
    width: 100%;
    height: 10px;
    border: 2px solid black;
    margin-bottom: 10px;

}

.password__length label {
    font-weight: 300;
}

.password__length input {
    width: 100%;
    color: blue;
    margin-bottom: 10px;

}

.passwordSettings__options_container {
    height: 200px;
}

.passwordSettings__options_container ul {
    padding-top: 10px;
    display: grid;
    place-content: center;
    line-height: 1.5rem;
}

.passwordSettings__options_container ul li {
    list-style-type: none;
    font-size: 1.2rem;
}

.Generate__Password input {
    width: 100%;
    height: 48px;
    color: whitesmoke;
    background-color: #8360c3;
    border-radius: 10px;
}